<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title">Contact Me</h2>
    <div class="contact-content">
      <div class="column left">
        <div class="text">Get In Touch</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
          . Dolorum modi mollitia omnis ipsa molestias pariatur mol
          estiae sequi neque doloremque ullam! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="icons">
            <div class="row">
             <i class="fa fa-user"></i>
             <div class="info">
               <div class="head">Name</div>
               <div class="sub-title">Vakil Singh</div>
             </div>
            </div>
            <div class="row">
              <i class="fa fa-map-marker"></i>
              <div class="info">
                <div class="head">Address</div>
                <div class="sub-title">Pilibangan,Hanumangarh(Raj.)</div>
              </div>
             </div>
             <div class="row">
              <i class="fa fa-envelope"></i>
              <div class="info text4">
                <div class="head">Email</div>
                <div class="sub-title">vakilverma7@gmail.com</div>
              </div>
             </div>
             <div class="row">
               <a href="https://www.facebook.com/vskumar.karodiwal/" target="_blank"><i class="fa fa-facebook-f"></i></a>
               <a href="https://github.com/vakilsingh12" target="_blank"><i class="fa fa-github"></i></a>
               <a href="https://www.linkedin.com/in/vakil12/" target="_blank"><i class="fa fa-linkedin"></i></a>
             </div>
          </div>
      </div>
      <div class="column right">
        <div class="text">Message Me</div>
        <form method="POST" action="">
          <div class="fields">
            <div class="field name">
              <input type="text" placeholder="Name" name="name" required>
            </div>
            <div class="field email">
              <input type="email" placeholder="Email" name="email" required>
            </div>
          </div>
            <div class="field">
              <input type="text" placeholder="Subject" name="subject" required>
            </div>
            <div class="field textarea">
              <textarea name="project" id="" cols="30" rows="10" placeholder="Describe project..." required></textarea>
            </div>
            <div class="button">
              <button type="submit">Send message</button>
            </div>

        </form>
      </div>
    </div>
  </div>
</section>