<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>     
  <title><%= title %></title>
</head>
<body>

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/logout"><b>Logout</b></a>
  </li>
  <div class="form">
    <h2 class="title">Insert Data</h2>
    <form action="/insert" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field">
          <input id="name" type="text" name="fname" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field">
          <div class="btn common">
            <span>Resume</span>
            <input type="file" name="resume">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one file">
          </div>
        </div>
      </div>
        <button type="submit" name="action">Upload</button>
      </form>
      </div>

</body>
</html>