<nav class="navbar">
  <div class="max-width">
    <div class="logo"><a href="#">Portfo<span>lio</span></a></div>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="#skills" class="menu-btn">Skills</a></li>
      <li><a href="#certificate" class="menu-btn">Certificate & Project</a></li>
      <li><a href="#contact" class="menu-btn">Contact</a></li>
      <li><a href="/login" class="menu-btn">Login</a></li>
    </ul>
    <div class="menu-btn">
      <div class="fa fa-bars"></div>
    </div>
  </div>
</nav>