<section class="services" id="service">
  <div class="max-width">
    <h2 class="title">My Services</h2>
    <div class="services-content">
      <div class="card">
        <div class="box">
          <i class="fa fa-code"></i>
          <div class="text">Web Design & Development</div>
          <p>Designing Websites since last 3 years, good hands-on HTML, CSS, JavaSript, PHP, React Js and Node js. Also works on CMS like Wordpress as well as Blogger.</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fa fa-lightbulb-o"></i>
          <div class="text">Social Media Markting</div>
          <p>Has a brief knowledge of all social media platform, can help in promoting any event or products using social media.</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fa fa-pencil"></i>
          <div class="text">CONTENT WRITING & BLOGGING</div>
          <p>Regular Blogger at csenotes12.in and good skills in content writing. Also read more in my Blog Section.</p>
        </div>
      </div>
    </div>
  </div>
</section>