<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My Skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text">My Creative Skills & expriences.</div>
        <p>I have a good experience in web development.I have also done so many project 
          in this field using new technology reactjs,node js.and
          My objectives are increasing my knowledge in computer science fields and new technologies especially,
           web development and web Design field. Always looking forward to learn new technologies.
        </p>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span>HTML</span>
            <span>95%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>CSS</span>
            <span>90%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>javascript</span>
            <span>92%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>PHP</span>
            <span>85%</span>
          </div>
          <div class="line php"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>React Js</span>
            <span>90%</span>
          </div>
          <div class="line react"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>Node Js</span>
            <span>88%</span>
          </div>
          <div class="line node"></div>
        </div>
      </div>
    </div>
  </div>
</section>
