<section class="teams" id="teams">
  <div class="max-width">
    <h2 class="title">My Teams</h2>
    <div class="carousel owl-carousel">
      <div class="card">
        <div class="box">
        <img src="/image/deva.jpg" alt="">
        <div class="text">Devashish Saini</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
        <img src="/image/manish.jpg" alt="">
        <div class="text">Manish Sharma</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
        <img src="/image/devender.jpg" alt="">
        <div class="text">Devender Rao</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <!-- <div class="card">
        <div class="box">
        <img src="/image/vsk.png" alt="">
        <div class="text">Vakil Singh</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div> -->
    </div>
  </div>
</section>