<section class="teams" id="teams">
  <div class="max-width">
    <h2 class="title">My Teams</h2>
    <div class="carousel owl-carousel">
      <div class="card">
        <div class="box">
        <img src="/image/deva.jpg" alt="">
        <div class="text">Devashish Saini</div>
        <p>I'm pursuing my B.Tech in Electrical And Electronics Engineering. I have good technical as well as management skills.</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
        <img src="/image/manish.jpg" alt="">
        <div class="text">Manish Sharma</div>
        <p>I'm pursuing my B.Tech in Computer science and Engineering.I have good skills in Programming language.</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
        <img src="/image/devender.jpg" alt="">
        <div class="text">Devender Rao</div>
        <p>I'm pursuing my B.Tech in Computer science and Engineering.I have good skills in Cyber Security.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>