body{
  background-color: blue;
}
h1
{
  margin:100px;
  font-size: 134px;
  color:red;
  transition-duration: 4s;
  text-align: center;
  
}
li{
  font-size: 35px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  /* text-align: justify; */
}
li:hover{
  text-decoration: line-through;

}
h1:hover{
  color:yellow;
  font-size:140px;
  /* transform: rotate(360deg); */
}
h2{
  text-align: center;
}
.btn{
  margin-left: 600px;

}